<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ApplyDao">
    <insert id="insertApply" useGeneratedKeys="true" keyProperty="id" parameterType="com.model.Apply">
        INSERT INTO apply (orderId,carId,status,createTime) VALUES (#{orderId},#{carId},#{status},#{createTime})
    </insert>

    <select id="queryApply" resultType="com.model.Apply">
        SELECT * FROM apply WHERE orderId=#{orderId} AND carId=#{carId}
    </select>

    <select id="queryById" resultType="com.model.Apply">
        SELECT * FROM apply WHERE id={id}
    </select>

    <select id="selectApplyCarInfo" resultType="java.util.HashMap">
        SELECT id,orderId,carId,status,createTime, FROM apply WHERE  id={#id}
    </select>

    <select id="selectApplyCarInfoList" resultType="java.util.HashMap">
        SELECT apply.id,apply.carId,user.name,apply.createTime, FROM user,apply WHERE  apply.carId=user.id AND orderId=#{orderId}
    </select>

    <update id="updateApplyStatusById">
        UPDATE apply SET status=true WHERE id=#{id}
    </update>

    <update id="updateApplyStatus">
        UPDATE apply SET status=true WHERE orderId=#{orderId} AND carId=#{carId}
    </update>

    <select id="applyGetOrderID" resultType="com.model.Apply">
            select * from apply where id=#{id}
    </select>

</mapper>