<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderDao">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.model.Order">
        INSERT INTO order(ownerId,status,createTime) VALUES(#{ownerId},#{status},#{createTime})
    </insert>

    <update id="updateOrder" keyProperty="id" parameterType="com.model.Order">
        UPDATE order SET satatus={#status} WHERE id={#id}
    </update>

    <select id="getOrder">
        select orderInfo.type,orderInfo.goods,orderInfo.weight,orderInfo.deliveryTime,orderInfo.departure,orderInfo.target,orderInfo.remark from orderInfo,order where order.id=orderInfo.id and order.status={#status}
    </select>

</mapper>

