<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderDao">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.model.Order">
        INSERT INTO orders(ownerId,status,createTime) VALUES(#{ownerId},#{status},#{createTime})
    </insert>

    <update id="updateOrder" keyProperty="id" parameterType="com.model.Order">
        UPDATE orders SET status=#{status} WHERE id=#{id}
    </update>

    <update id="updateOrderById" keyProperty="id" parameterType="com.model.Order">
        UPDATE orders SET status=4 WHERE id=#{id}
    </update>

    <delete id="deleteOrder" parameterType="com.model.Order">
        DELETE FROM orders WHERE id=#{id}
    </delete>

    <select id="getOrder" resultType="java.util.HashMap">
        SELECT orderInfo.type,orderInfo.goods,orderInfo.weight,orderInfo.deliveryTime,orderInfo.departure,orderInfo.target,orderInfo.remark FROM orderInfo,orders WHERE orders.id=orderInfo.id AND orders.status=#{status} LIMIT #{start},7
    </select>

    <select id="selectOrder" resultType="java.util.HashMap">
        SELECT orderInfo.* FROM orders,orderInfo WHERE orders.id=orderInfo.id LIMIT #{start},7
    </select>

    <select id="selectOrderInfoByCarId" resultType="java.util.HashMap">
        SELECT orderInfo.*,orders.createTime FROM orders,orderInfo,apply WHERE orders.id=orderInfo.id AND orders.id=apply.orderId AND apply.status=true AND orders.status=#{status} AND apply.carId=#{carId}
    </select>

    <select id="selectCarApplyOrderInfo" resultType="java.util.HashMap">
        SELECT orderInfo.*,orders.createTime FROM orders,orderInfo,apply WHERE orders.id=orderInfo.id AND orders.id=apply.orderId AND apply.status=false AND orders.status in (1,2) AND apply.carId=#{carId}
    </select>
    <select id="selectOrderInfoByOwnerId" resultType="java.util.HashMap">
        SELECT orderInfo.* , orders.createTime FROM orders,orderInfo WHERE orders.id=orderInfo.id AND orders.ownerId=#{ownerId} AND orders.status=#{status}
    </select>

    <select id="selectCarInfoForOrder" resultType="java.util.HashMap">
        SELECT user.name,carInfo.phone from user,carInfo,orders,apply WHERE carInfo.id=user.id AND orders.id=apply.orderId AND user.id=apply.carId AND apply.status=true AND orders.id=#{orderId};
    </select>



</mapper>

