<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TestDao">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.model.Test">
        INSERT INTO Test (name,password,type,createTime) VALUES (#{name},#{password})
    </insert>
    <select id="selectAll" resultType="com.model.Test">
        select * from Test
    </select>

</mapper>