<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.model.User">
        INSERT INTO user (name,password,type,createTime,info) VALUES (#{name},#{password},#{type},#{createTime},#{info})
    </insert>

    <select id="getUserByName" parameterType="String" resultType="com.model.User">
        SELECT * FROM user WHERE name=#{name}
    </select>
    <select id="getUserById" resultType="com.model.User">
        SELECT * FROM user WHERE id=#{id}
    </select>
    <update id="updateInfoStatus">
        update user set info=true where id=#{id}
    </update>
</mapper>